---
title: I just bought 1000 burgers
subtitle: Now I plan to swap them with the London startup scene for their stories
heading: I just bought 1000 burgers
---
%h2 Why?
%p Burgers and startups: two of my favourite things.

%p I've spent the last few years sampling some of the best burgers in London.  The best one I've had was the Greedy Bear from a street food stall right in the middle of London's Shoreditch called Burger Bear, run by a bearded man named Tom.  Shoreditch is the centre of London's startup scene, and so many of Tom's lunchtime customers are people working for the startups in the area.

%p Tom is aware of his audience, and has embraced the tech scene, providing burgers on numerous occasions to awesome tech events like Digital Sizzle and Silicon Drinkabout.  He start accepting Bitcoins before it was cool, and you can now buy burgers with other crypto currencies like Dogecoin and Litecoin.

%p A few days ago, there was a buzz on Twitter that Burger Bear were planning to expand and open a more permanent home.  Being tech savvy, he had decided to launch on Kickstarter.  When I saw the project, I knew I had to back it.  I'm a big Kickstarter fan, and it had 
