---
title: I just bought 1000 burgers
subtitle: Now I plan to swap them with the London startup scene for their stories
heading: I just bought 1000 burgers
facebook_image: "/images/greedy-bear.jpg"
---
%h2 Why would you do that?
%p Burgers and startups: two of my favourite things.
%p I've spent the last few years trying to find the tastiest burger in London.  The best I've had was the Greedy Bear from a London street food stall called Burger Bear, run by a bearded man named Tom.  Burger Bear normally lives in Red Market, in the middle of London's Shoreditch area.  Shoreditch is the centre of London's startup scene, and so many of Tom's lunchtime customers are people working for the startups in the area.

%figure
  %img{:src => "/images/greedy-bear.jpg", :alt => "Greedy Bear Burger"}
  %figcaption
    The Greedy Bear: Two patties, four slices bacon, four slice cheese and bacon jam.

%p
  Tom is aware of his audience, and has embraced the tech scene, providing burgers on numerous occasions to awesome tech events like
  %a{:href => "http://thedigitalsizzle.com/", :target => "_new"} Digital Sizzle 
  and
  %a{:href => "http://silicondrinkabout.com", :target => "_new"} Silicon Drinkabout.
  He start accepting Bitcoins before it was cool, and you can now buy burgers with other cryptocurrencies like Dogecoin and Litecoin.

%p 
  Recently, there was a buzz on Twitter that Burger Bear was planning to expand and open a more permanent home.  Being tech savvy, he had decided to launch on Kickstarter.  When I saw the project, I knew I had to back it.  I'm a big Kickstarter fan, and it had recently helped my own startup Tribesports raise $200,000
  %a{:href => "http://tribesports.com"} to launch Tribesports Performance Wear.

%p
  I read through the pledges, and the &pound;1000 one caught my eye.  The reward for backing it was a THOUSAND burgers.  The only restriction was that I could only order two at a time.  An idea struck me.  I had been looking for an excuse to interview other people working for startups in the area.  What if I bought 1000 burgers, and gave half of them away to local startup people in exchange for their stories.  It was a ridiculous idea, and so I knew I had to do it. 

%h2 Want one of my 1000 burgers?
%p
  And so, having chosen my pledge, and Burger Bear's Kickstarter reaching its target, I have half of my 1000 burgers to give away.  When Burger Bear's restaurant opens in May, I will be looking for people to interview in London about their work for startups (and burgers).  I'm just as interested in people who are at an early stage, and the programmers, designers, commuity managers, who power the startups and are the heart of London's tech scene. So if you want a burger, and have an interesting story,

  %a{:href => "/i-want-a-burger"}
    you can have one.

%p
  %a{:href => "https://www.kickstarter.com/projects/buildbearhq/buildbearhq-our-shipping-container-diner"} Note: Burger Bear's Kickstarter has 24 hours left to go.  The target has already been met, but you should consider backing it anyway. He makes very tasty burger.


