---
title: I just bought 1000 burgers
subtitle: Now I plan to swap them with the London startup scene for their stories
heading: I just bought 1000 burgers
facebook_image: "/images/greedy-bear.jpg"
---
%h2 Why would you do that?
%p Burgers and startups: two of my favourite things.
%p I've spent the last few years trying to find the tastiest burger in London.  The best I've had was the Greedy Bear from a London street food stall called Burger Bear, run by a bearded man named Tom.  Burger Bear normally lives in Red Market, in the middle of London's Shoreditch area.  Shoreditch is the centre of London's startup scene, and so many of Tom's lunchtime customers are people working for the startups in the area.

%figure
  %img{:src => "/images/greedy-bear.jpg", :alt => "Greedy Bear Burger"}
  %figcaption
    The Greedy Bear: Two patties, four slices bacon, four slice cheese and bacon jam.

%p Tom is aware of his audience, and has embraced the tech scene, providing burgers on numerous occasions to awesome tech events like Digital Sizzle and Silicon Drinkabout.  He start accepting Bitcoins before it was cool, and you can now buy burgers with other crypto currencies like Dogecoin and Litecoin.

%p 
  Recently, there was a buzz on Twitter that Burger Bear were planning to expand and open a more permanent home.  Being tech savvy, he had decided to launch on Kickstarter.  When I saw the project, I knew I had to back it.  I'm a big Kickstarter fan, and it had recently helped my own startup Tribesports raise $200,000
  %a{:href => "http://tribesports.com/shop?utm_source=burgers"} to launch Tribesports Performance Wear.

%p
  I read through the pledges, and the £1000 one caught my eye.  The reward for backing it was a THOUSAND burgers.  The only restriction was that I could only order two at a time.  A thought struck me - I had been looking for an excuse to interview other people working for startups in the area, and if I had 1000 burgers to get through, I could give half of them away, and 







