---
title: How was the burger?
subtitle: Swapping burgers for startup stories in London.
heading: How was the burger?
skip_comments: true
---
%h2 What burger?
%p
  When my favourite London burger vendor, Burger Bear, announced he was raising money on Kickstarter to open a restaurant, I knew I had to back him.  After reviewing the pledges, I decided to back the £1000 for 1000 burgers pledge.  But I can't eat 1000 burgers on my own, so now I plan to
  %a{:href => "/i-just-bought-1000-burgers"} swap them with the London startup community for their stories.
