---
title: How was the burger?
subtitle: Swapping burgers for startup stories in London.
heading: How was the burger?
skip_comments: true
---
%h2 What's this all about?
%p
  %a{:href => "/i-just-bought-1000-burgers"}
    I bought 1000 burgers on Kickstarter
  and now I plan to swap them with the London startup community for their stories.

%h2 Want one of my 1000 burgers?
%p
  Well if you have an interesting story,
  %a{:href => "/i-want-a-burger"}
    you can probably have one.
