---
title: How was the burger?
subtitle: Swapping burgers for startup stories in London.
heading: How was the burger?
skip_comments: true
---
%h2 What?
%a{:href => "/i-just-bought-1000-burgers"} The plan
