@import "base";
@import "compass/reset";
@import "compass/layout/stretching";
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Gafata);
@import url(http://fonts.googleapis.com/css?family=Cambo);


$main-font-family:  'Cambo';
$main-font-color: #666;

$header-font-family: 'Varela Round';
$header-subtitle-font-family: 'Gafata';
$heading2-font-family: 'Gafata';

$header-font-size: 50;
$header-subtitle-font-size: 20;
$heading2-font-size: 28;
$body-font-size: 18;

$avocado: #E8FB90;
$lettuce: #C8D62A;
$bun: #E4B12F;
$burger: #6E5655;
$bacon: #9E2963;
$dark-gray: #333;

html {
  height:100%;
}

body {
  background-color: #fff;
  min-height:100%;
  height:100%;
}

h2 {
  font-family: $heading2-font-family;
  font-size: $heading2-font-size * 1px;
  line-height: $heading2-font-size * 2px;
  font-weight: bold;
}

p {
  font-family: $main-font-family;
  font-size: $body-font-size * 1px;
  line-height: ($body-font-size * 1.5px);
  color: $main-font-color;
  margin-bottom: $body-font-size * 1.5px;
}

header {
  font-family: $header-font-family;
  height: 400px;
  width: 100%;
  background-color: $dark-gray;
  color: #fff;
  vertical-align:middle;
  h1 {
    font-family: $header-font-family;
    font-size: $header-font-size * 1px;
    line-height: $header-font-size * 1.5px;
  }
  .subtitle {
    font-family: $header-subtitle-font-family;
    font-size: $header-subtitle-font-size * 1px;
  }
  .label {
    position:relative;
    top:150px;
    text-align:center;
  }
}

.container {
  width: 600px;
}

#content {
  padding-top:10px;
  margin: 0 auto;
}
#comments {
  margin: 0 auto;
}

footer {
  clear:both;
  float:left;
  width:100%;
  background-color: $dark-gray;
  #footer-content {
    font-family: Arial;
    font-size:12px;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
    margin: 0 auto;
    padding-right:20px;
    float:right;
  }
  position:relative;
  bottom:0px;
}
.left { float:left; clear:none;}
.right { float:right; clear:none;}

a {
  color: $bacon;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}


#disqus_thread {
}

#layout {
  min-height:100%;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  } 
}

@media (max-width: 600px) and (min-width: 480px) {
  header{
    height:200px;
    h1 {
      font-size: $header-font-size * 0.7 * 1px;
      line-height: $header-font-size * 0.7 * 1.5px;
    }
    .subtitle {
      font-size: $header-subtitle-font-size * 0.7 * 1px;
      line-height: $header-font-size * 0.7 * 1.5px;
    }
  }
  p {
    font-size: $body-font-size  * 0.7 * 1px;
    line-height: $body-font-size * 0.7 * 1.5px;
  }
  h2 {
    font-size: $heading2-font-size * 0.7 * 1px;
    line-height: $heading2-font-size * 0.7 * 2px;
  } 
}

@media (max-width: 480px) {
  header{
    height:100px;
    h1 {
      font-size: $header-font-size * 0.5 * 1px;
      line-height: $header-font-size * 0.5 * 1.5px;
    }
    .subtitle {
      font-size: $header-subtitle-font-size * 0.6 * 1px;
      line-height: $header-font-size * 0.6 * 1.5px;
    }
  }
  p {
    font-size: $body-font-size  * 0.7 * 1px;
    line-height: $heading2-font-size * 0.7 * 1.5px;
  }
  h2 {
    font-size: $heading2-font-size * 0.5 * 1px;
    line-height: $heading2-font-size * 0.5 * 2px;
  } 
}

