!!!
%html{:lang => "en"}
  %title
    How was the burger?
  %link{:rel => "stylesheet", :href => "/style/screen.css", :media => "screen"}
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %body
    #layout
      %header.header
        .label
          %h1= item[:title]
          .subtitle= item[:subtitle]
      #main
        #content.container
          = yield
          - unless(item[:skip_comments])
            #comments 
              %h2 Comments
              #disqus_thread
              :javascript
                var disqus_shortname = 'howwastheburger';
                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              %noscript
                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
              %a.dsq-brlink{:href => "http://disqus.com"}
                comments powered by
                %span.logo-disqus Disqus
        #layout_footer
    %footer#footer
      #footer-content
        A blog by Andrew McDonough

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-8602711-8', 'howwastheburger.com');
    ga('send', 'pageview');


