!!!
%html{:lang => "en"}
  %title
    How was the burger?
  %link{:rel => "stylesheet", :href => "/style/screen.css", :media => "screen"}
  %body
    %header
      .label
        %h1= item[:title]
        .subtitle= item[:subtitle]
    #main
      #content
        = yield

